/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body Styling */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
}

/* Login Form Container Styling */
.login-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Heading Styling */
.login-container h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Input Field Styling */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Password Toggle Styling */
.password-toggle {
  margin-bottom: 20px;
  text-align: left;
}

.password-toggle input {
  margin-right: 5px;
}

/* Button Styling */
button {
  font-size: 18px;
  font-weight: 700;
  border-radius: 3px;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  background-color:#000000;
  transition: all ease 0.5s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 15px lightseagreen; /* Centered shadow on all sides */
}

/* Sign-Up and Already Account Link Styling */
.account-link p {
  margin-top: 20px;
  color: #333;
}

.account-link a {
  text-decoration: none;
  color: black;
}

.account-link a:hover {
  text-decoration: underline;
}
