<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WE</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />

    <!-- Remix-Icon Links -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />

    <!-- Google Font Links -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--  HEADER SECTION -->
    <header>
      <div id="logo">
        <a href="./" draggable="false">
          <img src="/images/logo.jpg" />
        </a>
      </div>

      <nav>
        <ul>
          <li><a href="/about" aria-label="About Section">ABOUT</a></li>
          <li>
            <a href="/lp" aria-label="Download Section">DASHBOARD</a>
          </li>
          <li><a href="/contact" aria-label="Contact Section">CONTACT</a></li>
          <li><a href="/login" aria-label="Sign In">Login</a></li>
        </ul>
      </nav>
    </header>

    <!-- LANDING MAIN SECTION -->

    <main>
      <div class="main-container">
        <section id="introduction">
          <h1>Connect with Companies &nbsp; &nbsp; &nbsp; Instantly!</h1>
          <p>
            Find new Companies and get jon in real time. Join our community
            today!
          </p>
          <a href="/signup"><button class="cta-button">Get Started</button></a>
        </section>

        <section id="visuals">
          <img src="/images/logo.jpg" />
        </section>
      </div>
    </main>

    <!-- Link GSAP and JS Source -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
